body {
    background: #ddd;
    color: #666;
    font-size: 14px;
    font-family: "-apple-system","Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
    text-decoration: none;
    color: #076dd0;
}
.container {
    position: relative;
    min-height: 100%;
    max-width: 1600px;
}

.left-col {
    width: 270px;
    position: fixed;
    height: 100%;
    background-color: #007b8b;
    background-image: url(https://st.imququ.com/static/img/blog/left-bg2.jpg);
    background-size: cover;
}

.mid-col {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100%;
    margin-left: 270px;
    background: #fff;
}

.mid-col .mid-col-container {
    padding: 0 70px 0 40px;
}

#content {
    width: 100%;
    margin: 0 auto;
}
article {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    position: relative;
    padding: 30px 0;
}
article .meta {
    position: relative;
    float: right;
    color: #555;
    font-size: .9em;
    line-height: 2;
    width: auto;
    text-align: right;
}
article .meta .date, article .meta .comment, article .meta .tags {
    position: relative;
}
article .entry-content, article .meta a {
    color: #444;
}
article h1.title {
    color: #333;
    font-size: 2em;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 25px;
}

article h1.title a {
    color: #333;
    transition: color .3s;
}
article .entry-content {
    font-size: 16px;
    line-height: 1.8;
    word-wrap: break-word;
    font-family: Arial,'Hiragino Sans GB',å†¬é’é»‘,'Microsoft YaHei',å¾®è½¯é›…é»‘,SimSun,å®‹ä½“,Helvetica,Tahoma,'Arial sans-serif';
    -webkit-font-smoothing: antialiased;
}
article .entry-content p {
    margin-top: 15px;
}
#header {
    width: 100%;
    line-height: 30px;
    height: auto;
    border-bottom: none;
    padding: 30px 0;
    margin-left: 50px;
}
#header .profilepic a {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAYGBgYHBgcICAcKCwoL…3iNg2YMKeW4yncKOxeBdVDI5IXtksW22Kkoad+bsyn6TOnPZMDcFoIN0YIzJ6jhc8X9v8A/9k=);
    background-size: 100% 100%;
    margin: 15px 0 20px -10px;
}
#header a {
    color: #fff;
    text-shadow: 0 1px #666;
    transition: color .3s;
}
#header h1 {
    font-weight: 300;
    font-size: 30px;
    float: none;
}
#header .subtitle {
    color: #fff;
}
#main-nav {
    margin-left: 0;
}
#main-nav, #sub-nav {
    float: none;
    margin-top: 15px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#main-nav ul li {
    margin-left: 0;
    display: block;
    position: relative;
}
#sub-nav {
    position: relative;
}

#main-nav, #sub-nav {
    float: none;
    margin-top: 15px;
}